<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.hms.mapper.HotelRoomTypeMapper">

    <resultMap id="BaseResultMap" type="com.chq.hms.domain.HotelRoomType">
        <id column="room_type_id" property="roomTypeId"/>
        <result column="type_name" property="typeName"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertHotelRoomType" parameterType="com.chq.hms.domain.HotelRoomType">
        INSERT INTO hotel_room_type (type_name, price, image, description, status, create_time, update_time)
        VALUES (#{typeName}, #{price}, #{image}, #{description}, #{status}, now(), now())
    </insert>

    <update id="updateHotelRoomType" parameterType="com.chq.hms.domain.HotelRoomType">
        UPDATE hotel_room_type
        <set>
            <if test="typeName != null">
                type_name = #{typeName},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = NOW()
        </set>
        WHERE room_type_id = #{roomTypeId}
    </update>

    <select id="selectHotelRoomTypeById" resultMap="BaseResultMap">
        SELECT *
        FROM hotel_room_type
        WHERE room_type_id = #{roomTypeId}
    </select>

    <select id="selectAllHotelRoomTypes" resultMap="BaseResultMap">
        SELECT *
        FROM hotel_room_type
        WHERE status != '冻结'
    </select>

    <select id="selectHotelRoomTypes" resultType="com.chq.hms.domain.HotelRoomType">
        SELECT * FROM hotel_room_type WHERE
        status != '冻结'
        <if test="keyword != null and keyword != ''">
            AND (type_name LIKE concat('%', #{keyword}, '%')
            OR description LIKE concat('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="selectBatchIds" resultMap="BaseResultMap">
        SELECT * FROM hotel_room_type WHERE room_type_id IN
        <foreach item="item" index="index" collection="roomTypeIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
