<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.hms.mapper.HotelRoomMapper">

    <resultMap id="BaseResultMap" type="com.chq.hms.domain.HotelRoom">
        <id column="room_id" property="roomId"/>
        <result column="room_number" property="roomNumber"/>
        <result column="floor_number" property="floorNumber"/>
        <result column="room_type_id" property="roomTypeId"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insertHotelRoom" parameterType="com.chq.hms.domain.HotelRoom">
        INSERT INTO hotel_room (room_number, floor_number, room_type_id, status, create_time, update_time)
        VALUES (#{roomNumber}, #{floorNumber}, #{roomTypeId}, #{status}, NOW(), NOW())
    </insert>

    <update id="updateHotelRoom" parameterType="com.chq.hms.domain.HotelRoom">
        UPDATE hotel_room
        <set>
            <if test="roomNumber != null">
                room_number = #{roomNumber},
            </if>
            <if test="floorNumber != null">
                floor_number = #{floorNumber},
            </if>
            <if test="roomTypeId != null">
                room_type_id = #{roomTypeId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = NOW()
        </set>
        WHERE room_id = #{roomId}
    </update>

    <select id="selectHotelRoomById" resultMap="BaseResultMap">
        SELECT *
        FROM hotel_room
        WHERE room_id = #{roomId}
    </select>

    <select id="selectHotelRooms" resultMap="BaseResultMap">
        SELECT *
        FROM hotel_room
        WHERE status != '冻结'
        <if test="roomNumber != null">
            AND room_number = #{roomNumber}
        </if>
        <if test="floorNumber != null">
            AND floor_number = #{floorNumber}
        </if>
        <if test="roomTypeId != null">
            AND room_type_id = #{roomTypeId}
        </if>
        <if test="status != null and status != ''">
            AND status = #{status}
        </if>
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*)
        FROM hotel_room
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT *
        FROM hotel_room
    </select>

</mapper>
