<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.hms.mapper.SysLogMapper">

    <resultMap id="SysLogVOMap" type="com.chq.hms.domain.vo.SysLogVO">
        <id property="logId" column="log_id"/>
        <result property="userId" column="user_id"/>
        <result property="action" column="action"/>
        <result property="ip" column="ip"/>
        <result property="address" column="address"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="usrName" column="username"/>
        <result property="roleName" column="role_name"/>
        <result property="roleCode" column="role_code"/>
    </resultMap>

    <insert id="insert" parameterType="com.chq.hms.domain.SysLog">
        INSERT INTO sys_log (user_id, action, ip, address, remark, create_time)
        VALUES (#{userId}, #{action}, #{ip}, #{address}, #{remark}, #{createTime})
    </insert>

    <select id="selectPage" resultMap="SysLogVOMap">
        SELECT
        l.log_id, l.user_id, l.action, l.ip, l.address,l.remark, l.create_time,
        u.username, r.role_name, r.role_code
        FROM
        sys_log l
        LEFT JOIN sys_user u ON l.user_id = u.user_id
        LEFT JOIN sys_role r ON u.role_id = r.role_id
        <where>
            <if test="action != null and action != ''">
                AND l.action LIKE CONCAT('%', #{action}, '%')
            </if>
            <if test="address != null and address != ''">
                AND l.address LIKE CONCAT('%', #{address}, '%')
            </if>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                AND r.role_code LIKE CONCAT('%', #{roleCode}, '%')
            </if>
        </where>
        ORDER BY l.create_time DESC
    </select>

</mapper>
